{% extends 'layout.html' %}

{% block content %}

<div class="container">

  <form method="POST" action="{{ url_for('api.predictions_api.predict') }}" enctype="multipart/form-data">

    <div class="row">
      <h1>Object Recognition</h1>
    </div>

    <div class="row">
      <div class="col-4">
        <input type="file" name="image" class="form-control" autocomplete="off">
      </div>
    </div>

    <button class="btn btn-primary">Predict image</button>

  </form>

  <div class="row">
    <img src="{{ url_for('static', filename='images/predictions/prediction.png') }}" width="400" height="400">

  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

</div>



{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}