{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container h-100">

  <form class="row h-100 justify-content-center align-items-center flex-column" method="POST"
    action="{{ url_for('api.home_scope.file_image_recognition') }}" enctype="multipart/form-data">

    <br><br>

    <div class="row">
      <h1>Object Detection</h1>
    </div>

    <br>

    <div class="row">
      <input type="file" class="form-control" name="image" />
    </div>

    <br>

    <div class="row w-75">
      <button type="submit" class="btn btn-secondary btn-lg btn-rounded">Detect objects!</button>
    </div>

    <br>

    {% if show_modal %}
    <div class="row w-75">
      <button type="button" class="btn btn-primary btn-lg btn-rounded" data-mdb-toggle="modal"
        data-mdb-target="#object_detection_modal">
        See output image
      </button>
    </div>
    {% endif %}

  </form>

  <br>

</div>


<!-- Modal -->
<div class="modal fade" id="object_detection_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ url_for('static', filename='images/predictions/prediction.png') }}" style="width: 100%;
    height: 100%;">
      </div>

    </div>
  </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}